{{ define "main" }}
{{ $data := index .Site.Data .Site.Language.Lang }}
{{ partial "promoVideo.html" . }}

<div class="container">
    <div class="row my-5">
        <div class="col-lg-12">
            <h5 class="section-title-sm">{{ .Params.benefits.subtitle }}</h5>
            <h2 class="section-title section-title-border-half">{{ .Params.benefits.title }}</h2>
        </div>
        {{ range .Params.benefits.images }}
        <div class="col-sm-4 text-center pb-4">
            <img class="benefits-images" src="{{ .path }}" alt="{{ .alt }}">
        </div>
        {{ end }}
        {{ range .Params.benefits.titles }}
        <div class="col-sm-4 text-center pb-3">
            <h4> {{ .title }} </h4>
        </div>
        {{ end }}
        {{ range .Params.benefits.descriptions }}
        <div class="col-sm-4 text-center">
            <p> {{ .text }} </p>
        </div>
        {{ end }}
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-lg-12 mt-5">
            <h5 class="section-title-sm">{{ .Params.features.subtitle }}</h5>
            <h2 class="section-title section-title-border-half">{{ .Params.features.title }}</h2>
            <p>{{ .Params.features.preamble }}</p>
        </div>
        <img src="{{ .Params.features.image }}" class="float-left" width="100%">
    </div>
</div>

<section class="mission section">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <h5 class="section-title-sm">{{ .Params.mission.subtitle }}</h5>
          <h2 class="section-title section-title-border-half">{{ .Params.mission.title }}</h2>
        </div>
        <p>{{ .Params.mission.preamble }}</p>
        <div id="accordion" class="mb-md-50">
          <div class="row px-3">
            {{ range $index :=.Params.mission.module_titles }}
            <div class="col-lg-4 col-md-6">
              <div class="card border-0 mb-4">
                <div class="card-header bg-gray border p-0">
                  <a class="card-link h5 d-block tex-dark mb-0 py-10 px-4" data-toggle="collapse"
                    href="#collapse{{ add $index 1 }}">
                    <i class="{{if eq $index 0}}ti-minus{{else}}ti-plus{{end}} text-primary mr-2"></i> {{ .module_title }}
                  </a>
                </div>
                {{ range .Params.mission.module_descriptions }}
                <div id="collapse{{ add $index 1 }}" class="collapse {{if eq $index 0}}show{{ end }}">
                  <div class="card-body font-secondary text-color pl-0 pb-0">
                    {{ .module_description }}
                  </div>
                </div>
                {{ end }}
              </div>
            </div>
            {{ end }}
          </div>
        </div>
      </div>
    </div>
  </section>

{{ end }}