{{ define "main" }}
{{ $data := index .Site.Data .Site.Language.Lang }}
{{ partial "promoVideo.html" . }}

<div class="container">
    <div class="row my-5">
        <div class="col-lg-12">
            <h5 class="section-title-sm">{{ .Params.benefits.subtitle }}</h5>
            <h2 class="section-title section-title-border-half">{{ .Params.benefits.title }}</h2>
        </div>
        {{ range .Params.benefits.images }}
        <div class="col-sm-4 text-center pb-4">
            <img class="benefits-images" src="{{ .path }}" alt="{{ .alt }}">
        </div>
        {{ end }}
        {{ range .Params.benefits.titles }}
        <div class="col-sm-4 text-center pb-3">
            <h4> {{ .title }} </h4>
        </div>
        {{ end }}
        {{ range .Params.benefits.descriptions }}
        <div class="col-sm-4 text-center">
            <p> {{ .text }} </p>
        </div>
        {{ end }}
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-lg-12 mt-5">
            <h5 class="section-title-sm">{{ .Params.features.subtitle }}</h5>
            <h2 class="section-title section-title-border-half">{{ .Params.features.title }}</h2>
            <p>{{ .Params.features.preamble }}</p>
        </div>
        <img src="{{ .Params.features.image }}" class="float-left" width="100%">
    </div>
</div>

{{ end }}