<div class="container">
    <div class="row text-center align-items-center my-5">
        <div class="col">
                <p>
                    BETREIBER DER WEBSITE
                    <br>
                    {{ .Params.comp_name }}
                    <br>
                    {{ .Params.comp_street }}
                    <br>
                    {{ .Params.comp_addr }}
                    <br>
                    {{ .Params.court }}, {{ .Params.reg_num }}, {{ .Params.vat_num }}
                    <br>
                    Verantwortlich für den Webauftritt: {{ .Params.responsible }}
                    <br>
                    VERTRETUNGSBERECHTIGTE GESCHÄFTSFÜHRER
                    <br>
                    {{ .Params.representation }}
                    <br>
                    KONTAKT
                    <br>
                    {{ .Params.comp_tel }}
                    <br>
                    {{ .Params.comp_mail }}
                    <br>
                    {{ .Params.comp_url }}
                </p>
        </div>
    </div>
</div>