{{ $data := index .Site.Data .Site.Language.Lang }}
<section class="promo-video overlay section"
	style="background-image: url('{{ .Params.banner.image }}');">
	<div class="container my-5">
		<div class="row">
			<div class="col-lg-12">
				<h1 class="text-white mb-20 font-weight-normal">{{ .Params.banner.title }}</h1>
				<div class="d-flex">
					<a class="popup-youtube play-icon mr-4" href="{{ .Params.banner.url }}"><i class="ti-control-play"></i></a>
					<p class="text-white align-self-center h4">{{ .Params.banner.url_title }}</p>
				</div>
			</div>
		</div>
	</div>
</section>