<div class="container">
    <div class="row text-center align-items-center my-5">
        <div class="col-lg-4">
            <a href="https://www.kreis-herford.de/" target="_blank"><img class="gs"
                    src="/images/references/kreis_herford.jpg" width="50%" /></a>
        </div>
        <div class="col-lg-4">
            <img class="gs" src="/images/references/kreis_herford.jpg" width="50%" />
        </div>
        <div class="col-lg-4">
            <img class="gs" src="/images/references/kreis_herford.jpg" width="50%" />
        </div>
    </div>

    <div class="row text-center align-items-center my-5">
        <div class="col-lg-4">
            <img class="gs" src="/images/references/kreis_herford.jpg" width="50%" />
        </div>
        <div class="col-lg-4">
            <img class="gs" src="/images/references/kreis_herford.jpg" width="50%" />
        </div>
        <div class="col-lg-4">
            <img class="gs" src="/images/references/kreis_herford.jpg" width="50%" />
        </div>
    </div>

    <div class="row text-center align-items-center my-5">
        <div class="col-lg-4">
            <img class="gs" src="/images/references/kreis_herford.jpg" width="50%" />
        </div>
        <div class="col-lg-4">
            <img class="gs" src="/images/references/kreis_herford.jpg" width="50%" />
        </div>
        <div class="col-lg-4">
            <img class="gs" src="/images/references/kreis_herford.jpg" width="50%" />
        </div>
    </div>
</div>